resources/information/technologies/xml/DTD/temp/orders.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT orders (order+, products+, clients+)>
<!ELEMENT order (....)>
    <!ATTLIST order client chris
                                product IDREF>
                                    
<!ENTITY qwerty "<!ELEMENT client (namer, address, accountnr)> ">


<!ATTLIST client id ID>
