resources/information/technologies/xml/DTD/Contacts.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Solms Training & Consulting: Contacts.xml) -->

<!ELEMENT Contacts (Contact+)>

<!ELEMENT Contact (surName, firstName+, telNo*, eMailNo?, (idNo | passportNo))>

<!ELEMENT surName (#PCDATA)>
<!ELEMENT firstName (#PCDATA)>
<!ELEMENT telNo (#PCDATA)>
<!ELEMENT eMailNo (#PCDATA)>
<!ELEMENT idNo (#PCDATA)>
<!ELEMENT passportNo (#PCDATA)>
