resources/information/technologies/xml/DTD/travelLog.dtd

<!ELEMENT travelLog (trip+)>

<!ELEMENT trip (from, to, start, end, odoMeterStart, odoMeterEnd)>

<!ELEMENT from          (#PCDATA)>
<!ELEMENT to            (#PCDATA)>
<!ELEMENT start         (#PCDATA)>
<!ELEMENT end           (#PCDATA)>
<!ELEMENT odoMeterStart (#PCDATA)>
<!ELEMENT odoMeterEnd   (#PCDATA)>
