resources/information/technologies/java/j2me/code/xml/order.dtd

<!ELEMENT creditcard (#PCDATA | type | number)*>
<!ELEMENT type (#PCDATA)>
<!ELEMENT deliverydate (#PCDATA)>
<!ELEMENT client (#PCDATA | name | creditcard)*>
<!ELEMENT order (#PCDATA | client | deliverydate | lineitem)*>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT lineitem (#PCDATA | quantity)*>
<!ATTLIST lineitem productcode CDATA #IMPLIED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT number (#PCDATA)>
